:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --bg-gadient: linear-gradient(to right, var(--blue) , var(--indigo));
    --bg-menu-gadient: linear-gradient(to right, var(--pink) , var(--orange));
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; 

}


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: var(--light);
}

img {
    
    max-width: 100%;

}

a {
    text-decoration: none;
    cursor: pointer;
}

.container-fluid {
    max-width: 100%;
    padding: 0 20px;
}

.container {
    max-width: 1300px;
    width: 90%;
    margin: 0 auto;
    border: 1px solid black;
}

.session { 
    position: relative;
    margin-top: 20px;
    padding: 50px 0;
}

.session:nth-child(odd) {
    background-image: var(--bg-gadient);
    color: var(--light);
}

.session:nth-child(even) {
    background-color: var(--light);
    color: black;
}

.header {
    position: relative;
    top: 0;
    left: 0;
    height: 900px;
    width: 100%;
    color: var(--light);
    overflow: hidden;
}

.header .nav-bar,
.header .content-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.header a {
    color: var(--light);
}


.footer { 
    text-align: center;
    font-size: 9pt;
    position: relative;
    padding-top: 10px;
}

.footer::before { 
    content: " ";
    background-image: var(--bg-gadient);
    position: absolute;
    height: 3px;
    width: 100%;
    display: block;
    top: -3px;
    left: 0px;
}


.nav-bar { 
    font-size: 12pt;
    height: 15px;
    z-index: 99;
}

.nav-content { 
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    height: 100%;
    color: var(--light);


}

.menu { 
    list-style: none;
    display: flex;
    gap: 5px;
    height: 100%;
}

.menu a {
    height: 100%;
    display: flex;
    align-content: center;
    
    padding: 0 5px;
    position: relative;
}

.menu a:hover::after{ 
    content: " ";
    background-image: var(--bg-menu-gadient);
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1.5px;
    width: 100%;
    display: block;
}

.menu .login { 
    background-color: var(--orange);
    color: var(--light);
}


.header .content-header {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-items: center;
}

.header .background { 
    position: relative;
}

.header  .background::after { 
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: var(--bg-gadient) ;
    opacity: 0.5;
}

.header .sub-slogan, 
.header .slogan { 
    width: 100%;
    text-align: center;
}

.header .sub-slogan { 
    font-size: 16pt;
    margin: 0px;
    font-weight: 300;
}

.header .slogan {
    font-size: 26pt;
    font-weight: 600;
}

.header .statistic { 
    height: 60px;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin: 40px auto;
}

 .statistic .statistic__item { 
    width: 20%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 0 20px;
    column-gap: 5px;
    position: relative;
    justify-self: center;
}

.statistic__item::after { 
    content: ">";
    color: var(--light);
    background-color: var(--orange);
    font-weight: bold;
    width: 20px;
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    display: none;
}

.statistic__item:hover:after {
    display: flex;
}

 .statistic .statistic-image { 
    height: 100%;
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 45px;
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
    justify-self: flex-end;
    align-self: flex-end;
}

 .statistic .statistic-title {
    grid-row: 1;
    grid-column: 2;
}

 .statistic .statistic-content { 
    grid-row: 2;
    grid-column: 2;

}

.statistic .statistic-content>div:first-child { 
    font-size: 20pt;
    font-weight: bold;
    margin-bottom: -8px;
}

.statistic .statistic-content>div:last-child { 
    font-size: 14pt;
    margin-top: -8px;
}


.header-search {
    margin-top: 20px;
    font-size: 16pt;
    font-weight: normal;
}

.header-search .header-search__title { 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.header-search .title-item { 
    background-color: var(--warning);
    color: var(--light);
    
}

.header-search .title-item:hover { 
    cursor: pointer;
}

.header-search .active { 
    cursor: auto;
    background-color: var(--light);
    color: var(--blue);
}






















