
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid px-md-4	">
    <a class="navbar-brand" th:href="@{/}">Work CV</a>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active"><a th:href="@{/}" class="nav-link">Trang chủ</a></li>
        <li class="'nav-item"><a th:href="@{/}" class="nav-link">Công việc</a></li>
        <li class="nav-item"><a th:href="@{/}" class="nav-link">Ứng cử viên</a></li>
                        <ul class="dropdown">
                          <li><a th:href="@{/}">Hồ Sơ</a></li>
                          <li ><a href="/save-job/get-list" >Công việc đã lưu</a></li>
                          <li ><a href="/user/list-post" >Danh sách bài đăng</a></li>
                          <li ><a href="/user/get-list-apply" >Công việc đã ứng tuyển</a></li>
                          <li ><a href="/user/get-list-company" >Công ty đã theo dõi</a></li>
                          <li><a href="/auth/logout" >Đăng xuất</a></li>
                        </ul>
        <li></li>
        <li class="nav-item cta mr-md-1"><a href="/recruitment/post" th:href="@{/}" class="nav-link">Đăng tuyển</a></li>
        <li class="nav-item cta cta-colored"><a href="/auth/login" th:href="@{/login}" class="nav-link">Đăng nhập</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- END nav -->